body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light purple */
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff; /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff8c00; /* Light orange */
    text-align: center;
}

form {
    text-align: left;
}

label {
    color: #333; /* Dark gray */
}

input[type="text"],
input[type="date"],
.submit-btn {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Light gray */
    border-radius: 5px;
}

.submit-btn {
    background-color: #ffa500; /* Light orange */
    color: white;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ff8c00; /* Darker shade of orange */
}

#message {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray */
    background-color: #f9f9f9; /* Lighter shade of gray */
    border-radius: 5px;
    color: #333; /* Dark gray */
}
